/* To Do: 

*	move bootstrap-specific stuff to a 
	bootstrap-override.css file or something
	
*	clean up !important stuff - just confusing

*	nail down a colour scheme - red/dark-grey or blue/light-grey?

*/

body {
	color: #E5DFC5;
	background-image: url("img/bg-bl.png");
	background-color: #3d3d3d;
}

#page-content {
	padding: 20px 20px 20px 20px;
}

#page-title {
	font-size: 2em;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

p, a, li, span {
	font-size: 1.25em;
}

/* The company logo */

.logo {
	padding: 1px 1px 1px 1px;
	border-radius: 4px;
}

#logo-small {
	max-height: 60px;
}

#logo-large {
	max-height: 120px;
}

.navbar-brand {
	padding: 0;
}

div#navbar-search-container {
	padding-right: 5px;
}

.navbar {
	background-color: #A92F41;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #d7cfa7;
	background-color: #77222f;
}

.navbar-nav > li > a {
	transition: background-color 0.5s ease;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #d7cfa7;
	background-color: #77222f;
}

.navbar-default .navbar-nav > li > a:focus {
	color: #d7cfa7;
	color: #E5DFC5;
}

a {
	color: #91C7A9;
	text-decoration: none !important;
}

a:hover, a i:hover {
	color: #0ce3ac;
}

#building, .show {
	padding: 15px 15px 15px 15px;
	float: right;
}

/* Shows */
.show {
	max-width: 50%;
}

#show-info {
	overflow: auto; 
}

#book-show {
	border: 2px solid #E5DFC5;
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
}

#reviews-left, #reviews-right {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

#reviews-left {
	padding-right: 25px;
}

#reviews-right {
	padding-left: 25px;
}

.review {
	padding-top: 15px;
}

/* Form */
form {
	padding-top: 15px;
	padding-bottom: 15px;
}

form label {
	min-width: 75px;
	vertical-align: top;
}

form input.text-input {
	padding-left: 3px;
	width: 250px;
}

form input.text-area {
	padding-left: 3px;
}

select, option {
	color: black;
}

/* Shows / Offers */
.content-block {
	display: inline-block;
	width: 33%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	vertical-align: top;
	text-align: center;
}

/* used for shows/offers */
.brightness {
	display: inline-block;
	background-color: white;
}

.brightness img {
	transition: opacity 0.5s ease;
}

/* opacity to show whiteness to give a 'brightening' effect
	- responsive to user hovering on a show/offer */
.brightness img:hover {
	opacity: 0.8;
}

/* FOOTER STUFF */

.footer-distributed {
	background-color: #231f20;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 25px 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
	padding-right: 10px;
}

.footer-distributed .footer-links a:hover{
	color: #d7cfa7 !important;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Responsiveness for small width */
@media (max-width: 880px) {

	.content-block {
		width: 49%;
	}

	/* so that reviews go from inline to stacked on top of eachother
		so they're single column on narrower screen */
	#reviews-left, #reviews-right {
		display: block;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}

	.review {
		padding-top: 25px;
	}

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i {
		margin-left: 0;
	}

}

/* Responsiveness for smaller width */
@media (max-width: 630px) {
	select, textarea {
		width: 90%;
	}
}

/* Responsiveness for very small width */
@media (max-width: 360px) {
	#page-title {
		font-size: 1.75em;
	}
}